<h1>Reactive Form</h1>

<form
  [formGroup]="form"
>
  <div>
    <label for="input-email">E-Mail</label>
    <input id="input-email" type="email" formControlName="email" placeholder="Email">

    <div class="invalid__message" *ngIf="form.controls.email.invalid && form.controls.email.dirty">
      <ng-container *ngIf="form.controls.email.errors.required">
        This field is required
      </ng-container>

      <ng-container *ngIf="form.controls.email.errors.email">
        Please provide a correct email address
      </ng-container>
    </div>
  </div>

  <div>
    <label for="input-password">Password</label>
    <input type="password" id="input-password" formControlName="password">

    <div class="invalid__message" *ngIf="form.controls.password.invalid && form.controls.password.dirty">
      <ng-container *ngIf="form.controls.password.errors.required">
        This field is required
      </ng-container>

      <ng-container *ngIf="form.controls.password.errors.pattern">
        Password must be at least 4 characters, no more than 8 characters, and must include at least one upper case letter, one lower case letter, and one numeric digit.
      </ng-container>
    </div>
  </div>

  <div>
    <label for="input-repeat-password">Repeat Password</label>
    <input type="password" id="input-repeat-password" formControlName="repeatPassword" />

    <div class="invalid__message" *ngIf="form.controls.repeatPassword.invalid && form.controls.repeatPassword.dirty">
      <ng-container *ngIf="form.controls.repeatPassword.errors.required">
        This field is required
      </ng-container>

      <ng-container *ngIf="form.controls.repeatPassword.errors.repeatPassword">
        You passwords are not equal
      </ng-container>
    </div>
  </div>

  <div>
    <button type="submit" [disabled]="form.invalid">Submit</button>
  </div>

</form>
