<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul>
  <li>
    <h2><a [routerLink]="['/reactive']" href="https://angular.io/tutorial">Reactive forms</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="['/template-driven']" href="https://angular.io/cli">Template-Driven forms</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="['/custom-form-element']" href="https://blog.angular.io/">Custom form element</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
